<% if(cookie_login_error === "User not found") { %>
    <p style='color:red'>Utilizator sau parola gresite!!!</p>
<% } %>

<form method="post" action="/verificare-autentificare">
    <table>
        <tr>
            <td><label>Utilizator</label></td>
            <td><input type="text" name="username" value="utilizator"></td>
        </tr>

        <tr>
            <td><label>Parolă</label></td>
            <td><input type="password" name="password" value="parola"></td>
        </tr>
        
        <tr><td><button type="submit">Autentificare</button></td></tr>
    </table>
</form>