<% if(cookie_username === undefined) { %>
    <a href="/autentificare">
        <button>Autentificare</button>
    </a>
<% } else { %>
    <p>Bine ai revenit, <%=cookie_username%>!</p>
<% } %>
<br>
<table>
    <tr>
        <td>
            <a href="/creare-bd">
                <input type="submit" value="Creare BD" />
            </a>
        </td>

        <td>
            <a href="/inserare-bd">
                <input type="submit" value="Încarcare BD" />
            </a>
        </td>
    </tr>
</table>

<%- html_content %>
<% if(cookie_username === undefined) { %>
    <script>
        var add_to_cart_elements = document.getElementsByClassName("ADD_TO_CART");
        for(const add_to_cart of add_to_cart_elements){
            add_to_cart.disabled = true;
        }
    </script>
<% } else { %>
    <script>
        var add_to_cart_elements = document.getElementsByClassName("ADD_TO_CART");
        for(const add_to_cart of add_to_cart_elements){
            add_to_cart.disabled = false;
        }
    </script>
<% } %>