<% if(cookie_username === undefined) { %>
    <a href="/autentificare">Autentificare</a>
<% } else { %>
    <p>Bine ai revenit, <%=cookie_username%>!</p>
<% } %>
<form method="get" action="/creare-bd">
    <input type="submit" value="Creare BD" />
</form>
<form method="get" action="/inserare-bd">
    <input type="submit" value="Încarcare BD" />
</form>
<%- html_content %>