<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Magazin Fructe</title>
    </head>

    <main>
        <% if (session_username !== undefined) { %>
        <p>Logat ca <%=session_username%></p>

        <form>
            <button type="submit" formaction="/delogare">Delogare</button>
        </form>
        <% } else { %>
        <% } %>
        <%- body %>
    </main>
</html>