<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Magazin Fructe</title>
    </head>

    <main>
        <% if (session_username !== undefined) { %>
        <p>Logat ca <%=session_username%></p>
        
        <a href="/delogare">
            <button>Delogare</button>
        </a>
        <% } else { %>
        <% } %>
        <%- body %>
    </main>
</html>